extends layout

block content
 div(class="container")
  h1=title
  <br>
  form(method='post',class="form-inline",role="form", action='/createRound')
   div(class="form-group") 
    input(type="text", name="name", class="form-control", placeholder="Enter name of round")    

   <br><br>
   div(class="form-group") 
    select(id="one", value="one", name="one", class="form-control")
     each q in questions
      option(value=q._id) #{q.question} 

   <br><br>
   div(class="form-group") 
   select(id="two", value="two", name="two", class="form-control")
      each q in questions
       option(value=q._id) #{q.question}

   <br><br>
   div(class="form-group") 
    select(id="three", value="three", name="three", class="form-control")
     each q in questions            
      option(value=q._id) #{q.question}

   <br><br>
   div(class="form-group")  
    select(id="four", value="four", name="four", class="form-control")
     each q in questions            
      option(value=q._id) #{q.question}

   <br><br>
   div(class="form-group")   
    select(id="five", value="five", name="five", class="form-control")
     each q in questions            
      option(value=q._id) #{q.question}

   <br><br>
   input(type="submit",value="Create Round", class="btn btn-success")